[submodule "knockout.observableStorage"]
	path = knockout.observableStorage
	url = https://github.com/Maultasche/knockout.observableStorage
[submodule "observableStorage"]
	path = observableStorage
	url = https://github.com/Maultasche/knockout.observableStorage
[submodule "UtfString"]
	path = UtfString
	url = https://github.com/Maultasche/UtfString.git
[submodule "VolunteerHours"]
	path = VolunteerHours
	url = https://github.com/Maultasche/VolunteerHours.git
